@use "../theme/theme";

.form-label {
    color: theme.$fourth-color;
    margin: {
        top: 16px;
        bottom: 8px;
    };
    div:first-of-type > & {
        form > & {
            margin-top: 0;
        }
    }
}

.form-control {
    background-color: theme.$seventh-color;
    color: theme.$fifth-color;
    border-radius: 8px;
    &::placeholder {
        color: theme.$sixth-color;
    }
    &:focus {
        background-color: theme.$seventh-color;
        color: theme.$fourth-color;
        caret-color: theme.$fourth-color;
        box-shadow: 0 1px 1px theme.$first-color inset, 0px 1px 6px theme.$first-color;
    }
}