@use "../theme/theme";

.form-label {
    color: theme.$fourth-color;
    margin: {
        top: 16px;
        bottom: 8px;
    };
    div:first-of-type > & {
        form > & {
            margin-top: 0;
        }
    }
}

.form-control {
    background-color: theme.$seventh-color;
    color: theme.$fifth-color;
    &::placeholder {
        color: theme.$sixth-color;
    }
}