@use "../theme/theme";

.navbar {
    width: 95%;
    min-height: 68px;
    justify-content: left;

    a {
        color: theme.$fifth-color;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        margin: 10px;

        img {
            width: 32px;
            height: 32px;
            margin: 0px 5px 0px 10px;
        }

        &:hover,
        &:active,
        &:focus { /* TODO: make permanent for currently selected page/element */
            color: theme.$fourth-color;
        }

        transition: ease-in-out 200ms;
    }

    #account-section {
        margin-left: auto;

        a {
            display: flex;
            flex-direction: row;

            *:not(img) {
                margin: 0;
            }

            &::after {
                margin: auto 0px;
            }

            p {
                line-height: 200%;
                margin: 0;
                vertical-align: middle;
            }
        }

        #logincontext-provider-buttons button {
            margin: 0;
        }
    }

    #profile-section-avatar {
        border-radius: 50%;
    }

    .dropdown-toggle:hover {
        color: theme.$fourth-color;
    }

    .dropdown-menu {
        background-color: theme.$seventh-color;

        a {
            margin: 0;
            padding: 5px 10px;
            text-transform: none;
            color: theme.$fifth-color;

            &:hover,
            &:active,
            &:focus {
                background-color: theme.$eighth-color;
                color: theme.$fourth-color;
            }

            transition: ease-in 200ms;
        }

        button {
            width: calc(100% - 20px) !important;
            margin: 0px 10px;
        }
    }
}
