@use "../theme/theme";
@use "../../../components/login/LoginDialog.module";
@use "../../../components/settings/Settings.module";

:root {
    background-color: theme.$third-color;
    color: theme.$fourth-color;
}

body {
    background-color: transparent;
}

#root {
    width: 100%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #logincontext-provider-buttons {
        display: inline-flex;
        gap: 12px;
    }
}