@use "../../styles/scss/theme/theme";

#editpost-modal {
    .textarea {
        width: 100%;
    }
    .btn {
        &:last-of-type {
            margin-left: 12px;
        }
        margin: {
            top: 8px;
            bottom: 8px;
        }
    }
}

#editpost-modal-body-p {
    color: theme.$sixth-color;
}