@use "../../styles/scss/theme/theme";

.threadpage-post {
    display: flex;
    flex-direction: row;
    margin: {
        top: 8px;
        bottom: 24px;
        left: 8px;
        right: 8px;
    }
    height: fit-content;
    background-color: theme.$eighth-color;
    border: 8px solid theme.$eighth-color;
    border-radius: 16px;
    & > [id*="div1"] {
        width: 20%;
        display: flex;
        flex-direction: column;
        margin-right: 8px;
        & > img {
            max-width: 100%;
            height: auto;
            align-self: center;
            margin: 8px auto;
        }
        & > p {
            align-self: center;
            // margin-right: 8px;
            text-align: center;
            &:not(:last-of-type) {
                margin-bottom: 0;
            }
            &:not(:first-of-type) {
                color: theme.$sixth-color;
            }
            &:last-of-type {
                margin-top: 16px;
            }
        }
    }
    & > [id*="div2"] {
        width: 80%;
        padding: {
            left: 16px;
            right: 8px;
            top: 8px;
            bottom: 8px
        }
        & > :first-child {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: theme.$sixth-color;
        }
    }
    .btn {
        margin: 8px auto 0;
        &:first-of-type {
            margin-right: 12px;
        }
    }
}

.post-vertical-line {
    height: 100%;
    width: 2px;
    background-color: theme.$seventh-color;
}