@use "../../styles/scss/theme/theme";
@use "../../styles/scss/abstracts/mixins";

.threadpage-post {
    display: flex;
    flex-direction: row;
    margin: {
        top: 8px;
        bottom: 8px;
        left: 8px;
        right: 8px;
    }
    height: fit-content;
    background-color: theme.$eighth-color;
    padding: 8px;
    border-radius: 16px;
    & > [id*="div1"] {
        width: 20%;
        display: flex;
        flex-direction: column;
        margin-right: 8px;
        & > img {
            max-width: 100%;
            height: auto;
            align-self: center;
            margin: 8px auto;
            border-radius: 50%;
        }
        & > p {
            align-self: center;
            text-align: center;
            &:not(:last-of-type) {
                margin-bottom: 0;
            }
            &:not(:first-of-type) {
                color: theme.$sixth-color;
            }
            &:last-of-type {
                margin-top: 16px;
            }
        }
    }
    & > [id*="div2"] {
        width: 80%;
        padding: {
            left: 16px;
            right: 8px;
            top: 8px;
            bottom: 8px
        }
        & > :first-child {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: theme.$sixth-color;
        }
    }
    .btn {
        margin: 4px auto 0;
        position: relative;
        z-index: 1;
    }
}

.post-vertical-line {
    height: 100%;
    width: 2px;
    background-color: theme.$seventh-color;
}

.post-horizontal-line {
    @include mixins.horizontal-line(theme.$seventh-color, 0);
}

.vote-button {
    display: inline-block;
    & > :first-child {
        display: block;
        border-bottom: {
            right-radius: 0;
            left-radius: 0;
        }
    }
    .votes {
        position: relative;
        width: 100%;
        height: fit-content;
        text-align: center;
        padding: 8px 0 2px;
        border: 1px solid #6c757d;
        border-bottom: {
            right-radius: 8px;
            left-radius: 8px;
        }
        border-top: {
            style: none;
        }
        top: -8px;
    }
}

.upvote,
.btn[id*="div2-div-button1"] {
    margin-right: 12px;
}