@use "../theme/theme";

.textarea {
    height: 12rem;
    background-color: theme.$seventh-color;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 8px;
    color: theme.$fourth-color;
    padding: 6px 12px;
    &::placeholder {
        color: theme.$sixth-color;
    }
    &:focus {
        border-color: theme.$first-color;
        box-shadow: 0 1px 1px theme.$first-color inset, 0px 1px 6px theme.$first-color;
        outline: 0;
    }
}