// default theme
$first-color: #38B6FF;
$second-color: #197E9E;
$third-color: #1C2225;
$fourth-color: #FFFFFF;
$fifth-color: #D9D9D9;
$sixth-color: #B5B5B5;
$seventh-color: #3A3D40;
$eighth-color: #2C3033;
$test-color: #FF0000;