@use "../../styles/scss/abstracts/variables";

[id*="create-page-container"] {
    width: variables.$page-width;
}

#createthread-button-bar {
    & > :first-child {
        margin-right: 12px;
    }
}

#createthread-p1 {
    margin: {
        top: 24px;
    }
}