@use "../../styles/scss/theme/theme";
@use "../../styles/scss/abstracts/mixins";

#thread-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    .button-bar {
        display: flex;
        width: 90%;
        justify-content: flex-end;
        margin-right: 12px;
        .btn {
            margin-bottom: 8px;
            &:last-of-type {
                margin-left: 12px;
            }
        }
    }
    .threadsearch-horizontal-line {
        @include mixins.horizontal-line(theme.$seventh-color, 0);
        width: 90%;
        margin: {
            top: 24px;
            bottom: 0;
        }
    }
    #createpostdialog-textarea {
        margin-top: 24px;
    }
    #thread-div-button3,
    #thread-div-button4 {
        margin-bottom: 0;
    }
}