@use "../../styles/scss/theme/theme";
@use "../../styles/scss/abstracts/mixins";
@use "../../styles/scss/abstracts/variables";

#threadsearch-div-button2,
#threadsearch-div-alert {
    margin-top: 24px;
}

#threads-page-container {
    width: variables.$page-width;
}

.threadsearch-single-result {
    background-color: theme.$eighth-color;
    border: 16px solid theme.$eighth-color;
    border-radius: 16px;
    margin-bottom: 16px;
    & > p {
        color: theme.$sixth-color;
        margin-bottom: 0;
        &:first-of-type {
            margin-top: 8px;
        }
    }
}

.threadsearch-horizontal-line {
    @include mixins.horizontal-line(theme.$eighth-color, 0);
}