#thread-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    .button-bar {
        display: flex;
        width: 90%;
        justify-content: end;
        margin-right: 12px;
        .btn {
            margin-bottom: 8px;
            &:last-of-type {
                margin-left: 12px;
            }
        }
        &:last-of-type {
            .btn {
                margin-top: 0;
            }
        }
    }
}