#app-background {
  height: 35vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(to bottom, #197E9E 0%, #1C2225 100%);
  opacity: 20%;
}

.form-label {
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 8px;
}
form > div:first-of-type > .form-label {
  margin-top: 0;
}

.form-control {
  background-color: #3A3D40;
  color: #D9D9D9;
}
.form-control::placeholder {
  color: #B5B5B5;
}
.form-control:focus {
  background-color: #B5B5B5;
}

.modal-content {
  background-color: #2C3033;
}

.modal-title {
  color: #FFFFFF;
}

.btn-primary {
  background-color: #38B6FF;
}
.btn-secondary {
  background-color: #3A3D40;
}
.btn-close {
  background-color: #3A3D40;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #B5B5B5;
}

.nav-link, .nav-link:focus, .nav-link:hover {
  color: #FFFFFF;
}

/* TODO:
    - align text (account name) vertically
    - text gets dragged by the profile picture size 
*/
.navbar {
  width: 95%;
  justify-content: left;
}
.navbar a {
  color: #D9D9D9;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin: 10px;
}
.navbar a img { /* TODO: make width dynamic */
  width: 30px;
  margin-left: 10px;
}
.navbar a:focus { /* TODO: make permanent for currently selected page/element */
  color: #FFFFFF;
}
.navbar #account-section {
  margin-left: auto;
}
.navbar .dropdown-toggle:hover {
  color: #FFFFFF;
}
.navbar .dropdown-menu {
  background-color: #3A3D40;
}
.navbar .dropdown-menu a {
  margin: 0;
  padding: 5px 10px;
  text-transform: none;
  color: #D9D9D9;
}
.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active, .navbar .dropdown-menu a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  transition: ease-in 200ms;
}
.navbar .dropdown-menu button {
  width: calc(100% - 20px) !important;
  margin: 0px 10px;
}

/*
#logindialog-button-logout {
    margin-bottom: 24px;
}
*/
.threadpage-post {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 24px;
  margin-left: 8px;
  margin-right: 8px;
  height: 300px;
  background-color: #2C3033;
  border: 8px solid #2C3033;
  border-radius: 16px;
}
.threadpage-post > [id*=div1] {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.threadpage-post > [id*=div1] > img {
  align-self: center;
  margin: 8px auto;
}
.threadpage-post > [id*=div1] > p:first-of-type {
  align-self: center;
}
.threadpage-post > [id*=div1] > p:last-of-type {
  color: #B5B5B5;
  margin-left: 8px;
}
.threadpage-post > [id*=div2] {
  width: 80%;
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.threadpage-post > [id*=div2] > :first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #B5B5B5;
}
.threadpage-post > [id*=div2] > :first-child > :last-child {
  margin-left: 32px;
}

.post-vertical-line {
  height: 100%;
  width: 2px;
  background-color: #3A3D40;
}

[id*=settings-tabs-tabpane] > form > div:first-of-type .form-label {
  margin-top: 16px;
}
[id*=settings-tabs-tabpane] .btn {
  margin-top: 24px;
}

#settings-tabs-tabpane-Profile {
  margin-top: 16px;
}
#settings-tabs-tabpane-Profile .list-group-item {
  background-color: #3A3D40;
  color: #FFFFFF;
}

[id*=threadpage] {
  color: #FFFFFF;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.threadpage-number {
  margin-bottom: 0;
  padding-right: 24px;
  text-align: right;
  width: 100%;
}

:root {
  background-color: #1C2225;
  color: #FFFFFF;
}

body {
  background-color: transparent;
}

#root {
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#root #logincontext-provider-buttons {
  display: inline-flex;
  gap: 12px;
}

/*# sourceMappingURL=style.css.map */
