/* Only works with hex colors! */
/* previously: 3A3D40 */
/* previously: 2C3033 */
#app-background {
  height: 35vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(to bottom, #197E9E 0%, #1C2225 100%);
  opacity: 20%;
}

.navbar {
  width: 95%;
  min-height: 68px;
  justify-content: left;
}
.navbar a {
  color: #D9D9D9;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin: 10px;
  transition: ease-in-out 200ms;
}
.navbar a img {
  width: 32px;
  margin: 0px 5px 0px 10px;
}
.navbar a:hover, .navbar a:active, .navbar a:focus { /* TODO: make permanent for currently selected page/element */
  color: #FFFFFF;
}
.navbar #account-section {
  margin-left: auto;
}
.navbar #account-section a {
  display: flex;
  flex-direction: row;
}
.navbar #account-section a *:not(img) {
  margin: 0;
}
.navbar #account-section a::after {
  margin: auto 0px;
}
.navbar #account-section a p {
  line-height: 200%;
  margin: 0;
  vertical-align: middle;
}
.navbar #profile-section-avatar {
  border-radius: 50%;
}
.navbar .dropdown-toggle:hover {
  color: #FFFFFF;
}
.navbar .dropdown-menu {
  background-color: #2B3033;
}
.navbar .dropdown-menu a {
  margin: 0;
  padding: 5px 10px;
  text-transform: none;
  color: #D9D9D9;
  transition: ease-in 200ms;
}
.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active, .navbar .dropdown-menu a:focus {
  background-color: #393D40;
  color: #FFFFFF;
}
.navbar .dropdown-menu button {
  width: calc(100% - 20px) !important;
  margin: 0px 10px;
}

.form-label {
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 8px;
}
form > div:first-of-type > .form-label {
  margin-top: 0;
}

.form-control {
  background-color: #2B3033;
  color: #D9D9D9;
  border-radius: 8px;
}
.form-control::placeholder {
  color: #B5B5B5;
}
.form-control:focus {
  background-color: #B5B5B5;
}

.modal-content {
  background-color: #393D40;
}

.modal-title {
  color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background-color: #1C2225;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #2B3033;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #393D40;
}
::-webkit-scrollbar-thumb:active {
  background-color: #B5B5B5;
}
::-webkit-scrollbar-button {
  background-color: #2B3033;
}
::-webkit-scrollbar-button:single-button {
  background-color: #1C2225;
  display: block;
  background-size: 12px;
  background-repeat: no-repeat;
}
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 12px;
  background-position: center 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%232B3033'><polygon points='0,0 100,0 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23393D40'><polygon points='0,0 100,0 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23B5B5B5'><polygon points='0,0 100,0 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 12px;
  background-position: center 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%232B3033'><polygon points='50,00 0,50 100,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23393D40'><polygon points='50,00 0,50 100,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23B5B5B5'><polygon points='50,00 0,50 100,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:increment {
  height: 12px;
  width: 12px;
  background-position: 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%232B3033'><polygon points='0,0 0,100 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23393D40'><polygon points='0,0 0,100 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23B5B5B5'><polygon points='0,0 0,100 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  height: 12px;
  width: 12px;
  background-position: 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%232B3033'><polygon points='0,50 50,100 50,0'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23393D40'><polygon points='0,50 50,100 50,0'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23B5B5B5'><polygon points='0,50 50,100 50,0'/></svg>");
}

.btn {
  border-radius: 8px;
}
.btn-primary {
  background-color: #38B6FF;
}
.btn-primary:disabled {
  background-color: #38B6FF;
  opacity: var(--bs-btn-disabled-opacity);
}
.btn-secondary {
  background-color: #2B3033;
}
.btn-close {
  background-color: #2B3033;
}

#createthread-dropdown .dropdown-menu {
  background-color: #B5B5B5;
}

#createthread-dropdown .dropdown-item {
  background-color: #B5B5B5;
}
#createthread-dropdown .dropdown-item:hover {
  background-color: #0b5ed7;
  color: #FFFFFF;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #B5B5B5;
}

.nav-link, .nav-link:focus, .nav-link:hover {
  color: #FFFFFF;
}

.textarea {
  height: 12rem;
  background-color: #2B3033;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 8px;
  color: #D9D9D9;
  padding: 6px 12px;
}
.textarea::placeholder {
  color: #B5B5B5;
}
.textarea:focus {
  background-color: #B5B5B5;
  color: var(--bs-body-color);
  border-color: #86b7fe;
  outline: 0;
}

/*
#logindialog-button-logout {
    margin-bottom: 24px;
}
*/
.threadpage-post {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 24px;
  margin-left: 8px;
  margin-right: 8px;
  height: 300px;
  background-color: #393D40;
  border: 8px solid #393D40;
  border-radius: 16px;
}
.threadpage-post > [id*=div1] {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.threadpage-post > [id*=div1] > img {
  align-self: center;
  margin: 8px auto;
}
.threadpage-post > [id*=div1] > p:first-of-type {
  align-self: center;
}
.threadpage-post > [id*=div1] > p:last-of-type {
  color: #B5B5B5;
  margin-left: 8px;
}
.threadpage-post > [id*=div2] {
  width: 80%;
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.threadpage-post > [id*=div2] > :first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #B5B5B5;
}
.threadpage-post > [id*=div2] > :first-child > :last-child {
  margin-left: 32px;
}

.post-vertical-line {
  height: 100%;
  width: 2px;
  background-color: #2B3033;
}

[id*=settings-tabs-tabpane] > form > div:first-of-type .form-label {
  margin-top: 16px;
}
[id*=settings-tabs-tabpane] .btn {
  margin-top: 24px;
}

#settings-tabs-tabpane-Profile {
  margin-top: 16px;
}
#settings-tabs-tabpane-Profile .list-group-item {
  background-color: #2B3033;
  color: #FFFFFF;
}

[id*=threadpage] {
  color: #FFFFFF;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.threadpage-number {
  margin-bottom: 0;
  padding-right: 24px;
  text-align: right;
  width: 100%;
}

.threadpage-horizontal-line {
  width: 100%;
  height: 2px;
  background-color: #2B3033;
  margin-top: 0;
  margin-bottom: 24px;
}

[id*=create-page-container] {
  width: 50vw;
}

.btn {
  margin-top: 24px;
  margin-bottom: 24px;
}

#createthread-button-bar > :first-child {
  margin-right: 12px;
}

#createthread-p1 {
  margin-top: 24px;
}

#thread-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#threadsearch-div-button2,
#threadsearch-div-alert {
  margin-top: 24px;
}

#threads-page-container {
  width: 50vw;
}

.threadsearch-single-result {
  background-color: #393D40;
  border: 16px solid #393D40;
  border-radius: 16px;
}
.threadsearch-single-result > p {
  color: #B5B5B5;
  margin-bottom: 0;
}
.threadsearch-single-result > p:first-of-type {
  margin-top: 8px;
}

.threadsearch-horizontal-line {
  width: 100%;
  height: 2px;
  background-color: #393D40;
  margin-top: 0;
  margin-bottom: 16px;
}

:root {
  background-color: #1C2225;
  height: 100%;
}

body {
  background-color: transparent;
  color: #FFFFFF;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root #logincontext-provider-buttons {
  display: inline-flex;
  gap: 12px;
}

main {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

img::selection {
  background-color: rgba(0, 0, 0, 0);
}

:not(img)::selection {
  background-color: rgba(181, 181, 181, 0.5);
}

input::-webkit-search-cancel-button {
  display: none;
}

a {
  color: #38B6FF;
}
a:hover {
  color: var(--bs-link-color);
}

#banner-logo {
  width: 20vh;
  margin: 2.5vh 0vh 5vh 0vh;
}

#home-page-container {
  height: 100%;
  width: 100%;
  align-items: center;
}
#home-page-container label {
  width: 66%;
  min-width: 200px;
  max-width: 500px;
  margin-bottom: 8vh;
  display: flex;
  flex-direction: row;
}
#home-page-container label input {
  background-color: #2B3033;
  color: #D9D9D9;
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 15px 0px 0px 15px;
}
#home-page-container label input::placeholder {
  color: #B5B5B5;
}
#home-page-container label input:focus {
  outline: none;
}
#home-page-container label span {
  height: 100%;
  background-color: #2B3033;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
  border-radius: 0px 15px 15px 0px;
  color: #D9D9D9;
}
#home-page-container label span:hover {
  cursor: pointer;
}
#home-page-container section {
  width: 90%;
  min-width: 200px;
  max-width: 750px;
  margin-bottom: 5vh;
}
#home-page-container section h4 {
  margin-left: 12px;
  margin: 0px 0px 10px 12px;
}
#home-page-container section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2B3033;
  margin: 0;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
}
#home-page-container section ul li {
  background-color: #393D40;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  padding: 0px 16px 0px 8px;
  transition: ease-in-out 200ms;
}
#home-page-container section ul li:hover {
  background-color: #424649;
}
#home-page-container section ul li * {
  margin: 6px;
}
#home-page-container section ul li *:not(:first-child, :last-child) {
  margin: 6px 12px;
}
#home-page-container section ul li svg {
  margin: 0;
  color: #B5B5B5;
}
#home-page-container section ul li p {
  line-height: 1.3;
}
#home-page-container section ul li .topic-entry-preview-title {
  width: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
#home-page-container section ul li p:nth-of-type(2) {
  white-space: nowrap;
  margin-left: auto;
  color: #B5B5B5;
  font-size: 14px;
}
#home-page-container section ul li div {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  white-space: nowrap;
  overflow: hidden;
  transition: ease-in-out 200ms;
}
#home-page-container section ul li div:hover {
  background-color: #393D40;
  border-radius: 15px;
}
#home-page-container section ul li div img {
  margin: 0px 0px 0px 6px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
#home-page-container section ul li:not(:last-child) {
  margin-bottom: 12px;
}

/*# sourceMappingURL=style.css.map */
